form {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.form-control{
    width: 250px;
}

label {
    margin-top:10px;
    display:block;
    left: 1px;
    width: 10%;
    box-sizing: content-box;
}

